# Flask ecosystem (Python 3.8 compatible)
Flask
Werkzeug
Flask-Login
Flask-WTF
Flask-SQLAlchemy
python-dotenv

# Database
SQLAlchemy==1.4.39
psycopg2-binary
alembic

# Data processing
pandas
numpy
scikit-learn

# Machine Learning
tensorflow-cpu
typing-extensions

# Visualization
plotly
yfinance

gunicorn